In [1]:
from preprocess.load_data.data_loader import load_hotel_reserve

In [2]:
customer_tb, hotel_tb, reserve_tb = load_hotel_reserve()

In [3]:
# 集約単位をhotel_idとpeople_numの組み合わせを指定
# 集約したデータからtotal_priceを取り出し、sum関数に適用することで売上合計金額を算出
result = reserve_tb \
  .groupby(['hotel_id', 'people_num'])['total_price'] \
  .sum().reset_index()

In [4]:
result

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>hotel_id</th>
      <th>people_num</th>
      <th>total_price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>h_1</td>
      <td>1</td>
      <td>156600</td>
    </tr>
    <tr>
      <th>1</th>
      <td>h_1</td>
      <td>2</td>
      <td>156600</td>
    </tr>
    <tr>
      <th>2</th>
      <td>h_1</td>
      <td>3</td>
      <td>391500</td>
    </tr>
    <tr>
      <th>3</th>
      <td>h_1</td>
      <td>4</td>
      <td>417600</td>
    </tr>
    <tr>
      <th>4</th>
      <td>h_10</td>
      <td>1</td>
      <td>11200</td>
    </tr>
    <tr>
      <th>5</th>
      <td>h_10</td>
      <td>3</td>
      <td>50400</td>
    </tr>
    <tr>
      <th>6</th>
      <td>h_10</td>
      <td>4</td>
      <td>67200</td>
    </tr>
    <tr>
      <th>7</th>
      <td>h_100</td>
      <td>1</td>
      <td>19200</td>
    </tr>
    <tr>
      <th>8</th>
      <td>h_100</td>
      <td>2</td>
      <td>105600</td>
    </tr>
    <tr>
      <th>9</th>
      <td>h_100</td>
      <td>3</td>
      <td>158400</td>
    </tr>
    <tr>
      <th>10</th>
      <td>h_100</td>
      <td>4</td>
      <td>268800</td>
    </tr>
    <tr>
      <th>11</th>
      <td>h_101</td>
      <td>1</td>
      <td>182000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>h_101</td>
      <td>2</td>
      <td>140000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>h_101</td>
      <td>3</td>
      <td>462000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>h_101</td>
      <td>4</td>
      <td>504000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>h_102</td>
      <td>1</td>
      <td>36000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>h_102</td>
      <td>2</td>
      <td>48000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>h_102</td>
      <td>3</td>
      <td>198000</td>
    </tr>
    <tr>
      <th>18</th>
      <td>h_102</td>
      <td>4</td>
      <td>144000</td>
    </tr>
    <tr>
      <th>19</th>
      <td>h_103</td>
      <td>1</td>
      <td>32400</td>
    </tr>
    <tr>
      <th>20</th>
      <td>h_103</td>
      <td>2</td>
      <td>226800</td>
    </tr>
    <tr>
      <th>21</th>
      <td>h_103</td>
      <td>3</td>
      <td>97200</td>
    </tr>
    <tr>
      <th>22</th>
      <td>h_103</td>
      <td>4</td>
      <td>583200</td>
    </tr>
    <tr>
      <th>23</th>
      <td>h_104</td>
      <td>1</td>
      <td>295400</td>
    </tr>
    <tr>
      <th>24</th>
      <td>h_104</td>
      <td>2</td>
      <td>759600</td>
    </tr>
    <tr>
      <th>25</th>
      <td>h_104</td>
      <td>3</td>
      <td>886200</td>
    </tr>
    <tr>
      <th>26</th>
      <td>h_105</td>
      <td>1</td>
      <td>103000</td>
    </tr>
    <tr>
      <th>27</th>
      <td>h_105</td>
      <td>2</td>
      <td>226600</td>
    </tr>
    <tr>
      <th>28</th>
      <td>h_105</td>
      <td>3</td>
      <td>154500</td>
    </tr>
    <tr>
      <th>29</th>
      <td>h_105</td>
      <td>4</td>
      <td>247200</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1129</th>
      <td>h_92</td>
      <td>2</td>
      <td>688000</td>
    </tr>
    <tr>
      <th>1130</th>
      <td>h_92</td>
      <td>3</td>
      <td>1032000</td>
    </tr>
    <tr>
      <th>1131</th>
      <td>h_92</td>
      <td>4</td>
      <td>1376000</td>
    </tr>
    <tr>
      <th>1132</th>
      <td>h_93</td>
      <td>1</td>
      <td>78400</td>
    </tr>
    <tr>
      <th>1133</th>
      <td>h_93</td>
      <td>2</td>
      <td>58800</td>
    </tr>
    <tr>
      <th>1134</th>
      <td>h_93</td>
      <td>3</td>
      <td>58800</td>
    </tr>
    <tr>
      <th>1135</th>
      <td>h_93</td>
      <td>4</td>
      <td>352800</td>
    </tr>
    <tr>
      <th>1136</th>
      <td>h_94</td>
      <td>1</td>
      <td>94200</td>
    </tr>
    <tr>
      <th>1137</th>
      <td>h_94</td>
      <td>2</td>
      <td>157000</td>
    </tr>
    <tr>
      <th>1138</th>
      <td>h_94</td>
      <td>3</td>
      <td>423900</td>
    </tr>
    <tr>
      <th>1139</th>
      <td>h_94</td>
      <td>4</td>
      <td>628000</td>
    </tr>
    <tr>
      <th>1140</th>
      <td>h_95</td>
      <td>1</td>
      <td>216000</td>
    </tr>
    <tr>
      <th>1141</th>
      <td>h_95</td>
      <td>2</td>
      <td>864000</td>
    </tr>
    <tr>
      <th>1142</th>
      <td>h_95</td>
      <td>3</td>
      <td>259200</td>
    </tr>
    <tr>
      <th>1143</th>
      <td>h_95</td>
      <td>4</td>
      <td>2246400</td>
    </tr>
    <tr>
      <th>1144</th>
      <td>h_96</td>
      <td>1</td>
      <td>7400</td>
    </tr>
    <tr>
      <th>1145</th>
      <td>h_96</td>
      <td>2</td>
      <td>133200</td>
    </tr>
    <tr>
      <th>1146</th>
      <td>h_96</td>
      <td>3</td>
      <td>199800</td>
    </tr>
    <tr>
      <th>1147</th>
      <td>h_96</td>
      <td>4</td>
      <td>88800</td>
    </tr>
    <tr>
      <th>1148</th>
      <td>h_97</td>
      <td>1</td>
      <td>167200</td>
    </tr>
    <tr>
      <th>1149</th>
      <td>h_97</td>
      <td>2</td>
      <td>376200</td>
    </tr>
    <tr>
      <th>1150</th>
      <td>h_97</td>
      <td>3</td>
      <td>125400</td>
    </tr>
    <tr>
      <th>1151</th>
      <td>h_97</td>
      <td>4</td>
      <td>668800</td>
    </tr>
    <tr>
      <th>1152</th>
      <td>h_98</td>
      <td>1</td>
      <td>132300</td>
    </tr>
    <tr>
      <th>1153</th>
      <td>h_98</td>
      <td>2</td>
      <td>264600</td>
    </tr>
    <tr>
      <th>1154</th>
      <td>h_98</td>
      <td>3</td>
      <td>793800</td>
    </tr>
    <tr>
      <th>1155</th>
      <td>h_98</td>
      <td>4</td>
      <td>453600</td>
    </tr>
    <tr>
      <th>1156</th>
      <td>h_99</td>
      <td>1</td>
      <td>179200</td>
    </tr>
    <tr>
      <th>1157</th>
      <td>h_99</td>
      <td>2</td>
      <td>448000</td>
    </tr>
    <tr>
      <th>1158</th>
      <td>h_99</td>
      <td>4</td>
      <td>1164800</td>
    </tr>
  </tbody>
</table>
<p>1159 rows × 3 columns</p>
</div>

In [5]:
# 売上合計金額の列名がtotal_priceになっているので、price_sumに変更
result.rename(columns={'total_price': 'price_sum'}, inplace=True)

In [6]:
result

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>hotel_id</th>
      <th>people_num</th>
      <th>price_sum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>h_1</td>
      <td>1</td>
      <td>156600</td>
    </tr>
    <tr>
      <th>1</th>
      <td>h_1</td>
      <td>2</td>
      <td>156600</td>
    </tr>
    <tr>
      <th>2</th>
      <td>h_1</td>
      <td>3</td>
      <td>391500</td>
    </tr>
    <tr>
      <th>3</th>
      <td>h_1</td>
      <td>4</td>
      <td>417600</td>
    </tr>
    <tr>
      <th>4</th>
      <td>h_10</td>
      <td>1</td>
      <td>11200</td>
    </tr>
    <tr>
      <th>5</th>
      <td>h_10</td>
      <td>3</td>
      <td>50400</td>
    </tr>
    <tr>
      <th>6</th>
      <td>h_10</td>
      <td>4</td>
      <td>67200</td>
    </tr>
    <tr>
      <th>7</th>
      <td>h_100</td>
      <td>1</td>
      <td>19200</td>
    </tr>
    <tr>
      <th>8</th>
      <td>h_100</td>
      <td>2</td>
      <td>105600</td>
    </tr>
    <tr>
      <th>9</th>
      <td>h_100</td>
      <td>3</td>
      <td>158400</td>
    </tr>
    <tr>
      <th>10</th>
      <td>h_100</td>
      <td>4</td>
      <td>268800</td>
    </tr>
    <tr>
      <th>11</th>
      <td>h_101</td>
      <td>1</td>
      <td>182000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>h_101</td>
      <td>2</td>
      <td>140000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>h_101</td>
      <td>3</td>
      <td>462000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>h_101</td>
      <td>4</td>
      <td>504000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>h_102</td>
      <td>1</td>
      <td>36000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>h_102</td>
      <td>2</td>
      <td>48000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>h_102</td>
      <td>3</td>
      <td>198000</td>
    </tr>
    <tr>
      <th>18</th>
      <td>h_102</td>
      <td>4</td>
      <td>144000</td>
    </tr>
    <tr>
      <th>19</th>
      <td>h_103</td>
      <td>1</td>
      <td>32400</td>
    </tr>
    <tr>
      <th>20</th>
      <td>h_103</td>
      <td>2</td>
      <td>226800</td>
    </tr>
    <tr>
      <th>21</th>
      <td>h_103</td>
      <td>3</td>
      <td>97200</td>
    </tr>
    <tr>
      <th>22</th>
      <td>h_103</td>
      <td>4</td>
      <td>583200</td>
    </tr>
    <tr>
      <th>23</th>
      <td>h_104</td>
      <td>1</td>
      <td>295400</td>
    </tr>
    <tr>
      <th>24</th>
      <td>h_104</td>
      <td>2</td>
      <td>759600</td>
    </tr>
    <tr>
      <th>25</th>
      <td>h_104</td>
      <td>3</td>
      <td>886200</td>
    </tr>
    <tr>
      <th>26</th>
      <td>h_105</td>
      <td>1</td>
      <td>103000</td>
    </tr>
    <tr>
      <th>27</th>
      <td>h_105</td>
      <td>2</td>
      <td>226600</td>
    </tr>
    <tr>
      <th>28</th>
      <td>h_105</td>
      <td>3</td>
      <td>154500</td>
    </tr>
    <tr>
      <th>29</th>
      <td>h_105</td>
      <td>4</td>
      <td>247200</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1129</th>
      <td>h_92</td>
      <td>2</td>
      <td>688000</td>
    </tr>
    <tr>
      <th>1130</th>
      <td>h_92</td>
      <td>3</td>
      <td>1032000</td>
    </tr>
    <tr>
      <th>1131</th>
      <td>h_92</td>
      <td>4</td>
      <td>1376000</td>
    </tr>
    <tr>
      <th>1132</th>
      <td>h_93</td>
      <td>1</td>
      <td>78400</td>
    </tr>
    <tr>
      <th>1133</th>
      <td>h_93</td>
      <td>2</td>
      <td>58800</td>
    </tr>
    <tr>
      <th>1134</th>
      <td>h_93</td>
      <td>3</td>
      <td>58800</td>
    </tr>
    <tr>
      <th>1135</th>
      <td>h_93</td>
      <td>4</td>
      <td>352800</td>
    </tr>
    <tr>
      <th>1136</th>
      <td>h_94</td>
      <td>1</td>
      <td>94200</td>
    </tr>
    <tr>
      <th>1137</th>
      <td>h_94</td>
      <td>2</td>
      <td>157000</td>
    </tr>
    <tr>
      <th>1138</th>
      <td>h_94</td>
      <td>3</td>
      <td>423900</td>
    </tr>
    <tr>
      <th>1139</th>
      <td>h_94</td>
      <td>4</td>
      <td>628000</td>
    </tr>
    <tr>
      <th>1140</th>
      <td>h_95</td>
      <td>1</td>
      <td>216000</td>
    </tr>
    <tr>
      <th>1141</th>
      <td>h_95</td>
      <td>2</td>
      <td>864000</td>
    </tr>
    <tr>
      <th>1142</th>
      <td>h_95</td>
      <td>3</td>
      <td>259200</td>
    </tr>
    <tr>
      <th>1143</th>
      <td>h_95</td>
      <td>4</td>
      <td>2246400</td>
    </tr>
    <tr>
      <th>1144</th>
      <td>h_96</td>
      <td>1</td>
      <td>7400</td>
    </tr>
    <tr>
      <th>1145</th>
      <td>h_96</td>
      <td>2</td>
      <td>133200</td>
    </tr>
    <tr>
      <th>1146</th>
      <td>h_96</td>
      <td>3</td>
      <td>199800</td>
    </tr>
    <tr>
      <th>1147</th>
      <td>h_96</td>
      <td>4</td>
      <td>88800</td>
    </tr>
    <tr>
      <th>1148</th>
      <td>h_97</td>
      <td>1</td>
      <td>167200</td>
    </tr>
    <tr>
      <th>1149</th>
      <td>h_97</td>
      <td>2</td>
      <td>376200</td>
    </tr>
    <tr>
      <th>1150</th>
      <td>h_97</td>
      <td>3</td>
      <td>125400</td>
    </tr>
    <tr>
      <th>1151</th>
      <td>h_97</td>
      <td>4</td>
      <td>668800</td>
    </tr>
    <tr>
      <th>1152</th>
      <td>h_98</td>
      <td>1</td>
      <td>132300</td>
    </tr>
    <tr>
      <th>1153</th>
      <td>h_98</td>
      <td>2</td>
      <td>264600</td>
    </tr>
    <tr>
      <th>1154</th>
      <td>h_98</td>
      <td>3</td>
      <td>793800</td>
    </tr>
    <tr>
      <th>1155</th>
      <td>h_98</td>
      <td>4</td>
      <td>453600</td>
    </tr>
    <tr>
      <th>1156</th>
      <td>h_99</td>
      <td>1</td>
      <td>179200</td>
    </tr>
    <tr>
      <th>1157</th>
      <td>h_99</td>
      <td>2</td>
      <td>448000</td>
    </tr>
    <tr>
      <th>1158</th>
      <td>h_99</td>
      <td>4</td>
      <td>1164800</td>
    </tr>
  </tbody>
</table>
<p>1159 rows × 3 columns</p>
</div>