In [1]:
from preprocess.load_data.data_loader import load_hotel_reserve

In [2]:
customer_tb, hotel_tb, reserve_tb = load_hotel_reserve()

In [3]:
# 下の行から本書スタート
# loc関数の2次元配列の1次元目に条件を指定することで、条件に適合した行を抽出
# loc関数の2次元配列の2次元目に:を指定することで、全列を抽出
reserve_tb.loc[(reserve_tb['checkout_date'] >= '2016-10-13') &
               (reserve_tb['checkout_date'] <= '2016-10-14'), :]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>reserve_id</th>
      <th>hotel_id</th>
      <th>customer_id</th>
      <th>reserve_datetime</th>
      <th>checkin_date</th>
      <th>checkin_time</th>
      <th>checkout_date</th>
      <th>people_num</th>
      <th>total_price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>284</th>
      <td>r285</td>
      <td>h_121</td>
      <td>c_67</td>
      <td>2016-09-27 06:13:19</td>
      <td>2016-10-12</td>
      <td>12:00:00</td>
      <td>2016-10-14</td>
      <td>4</td>
      <td>184000</td>
    </tr>
    <tr>
      <th>513</th>
      <td>r514</td>
      <td>h_74</td>
      <td>c_120</td>
      <td>2016-10-06 03:12:04</td>
      <td>2016-10-11</td>
      <td>12:30:00</td>
      <td>2016-10-14</td>
      <td>2</td>
      <td>28800</td>
    </tr>
    <tr>
      <th>1065</th>
      <td>r1066</td>
      <td>h_205</td>
      <td>c_261</td>
      <td>2016-09-14 02:57:59</td>
      <td>2016-10-11</td>
      <td>10:00:00</td>
      <td>2016-10-14</td>
      <td>4</td>
      <td>85200</td>
    </tr>
    <tr>
      <th>1480</th>
      <td>r1481</td>
      <td>h_116</td>
      <td>c_364</td>
      <td>2016-09-17 17:45:39</td>
      <td>2016-10-11</td>
      <td>11:30:00</td>
      <td>2016-10-13</td>
      <td>4</td>
      <td>107200</td>
    </tr>
    <tr>
      <th>1546</th>
      <td>r1547</td>
      <td>h_149</td>
      <td>c_377</td>
      <td>2016-09-27 08:19:24</td>
      <td>2016-10-10</td>
      <td>11:00:00</td>
      <td>2016-10-13</td>
      <td>2</td>
      <td>153600</td>
    </tr>
    <tr>
      <th>1709</th>
      <td>r1710</td>
      <td>h_59</td>
      <td>c_422</td>
      <td>2016-09-19 04:17:25</td>
      <td>2016-10-10</td>
      <td>12:00:00</td>
      <td>2016-10-13</td>
      <td>2</td>
      <td>148800</td>
    </tr>
    <tr>
      <th>1932</th>
      <td>r1933</td>
      <td>h_113</td>
      <td>c_477</td>
      <td>2016-09-24 09:04:26</td>
      <td>2016-10-12</td>
      <td>11:30:00</td>
      <td>2016-10-13</td>
      <td>4</td>
      <td>77200</td>
    </tr>
    <tr>
      <th>2058</th>
      <td>r2059</td>
      <td>h_9</td>
      <td>c_517</td>
      <td>2016-09-19 15:32:35</td>
      <td>2016-10-11</td>
      <td>12:30:00</td>
      <td>2016-10-13</td>
      <td>3</td>
      <td>188400</td>
    </tr>
    <tr>
      <th>2115</th>
      <td>r2116</td>
      <td>h_77</td>
      <td>c_527</td>
      <td>2016-10-05 00:44:09</td>
      <td>2016-10-11</td>
      <td>09:00:00</td>
      <td>2016-10-13</td>
      <td>4</td>
      <td>353600</td>
    </tr>
    <tr>
      <th>2170</th>
      <td>r2171</td>
      <td>h_177</td>
      <td>c_540</td>
      <td>2016-09-28 01:21:26</td>
      <td>2016-10-11</td>
      <td>10:00:00</td>
      <td>2016-10-13</td>
      <td>4</td>
      <td>560800</td>
    </tr>
    <tr>
      <th>2203</th>
      <td>r2204</td>
      <td>h_82</td>
      <td>c_549</td>
      <td>2016-09-27 01:47:57</td>
      <td>2016-10-10</td>
      <td>12:00:00</td>
      <td>2016-10-13</td>
      <td>2</td>
      <td>76200</td>
    </tr>
    <tr>
      <th>2290</th>
      <td>r2291</td>
      <td>h_230</td>
      <td>c_574</td>
      <td>2016-10-09 04:34:14</td>
      <td>2016-10-12</td>
      <td>12:00:00</td>
      <td>2016-10-13</td>
      <td>1</td>
      <td>17400</td>
    </tr>
    <tr>
      <th>2523</th>
      <td>r2524</td>
      <td>h_203</td>
      <td>c_631</td>
      <td>2016-09-14 10:45:15</td>
      <td>2016-10-12</td>
      <td>10:30:00</td>
      <td>2016-10-14</td>
      <td>3</td>
      <td>167400</td>
    </tr>
    <tr>
      <th>2555</th>
      <td>r2556</td>
      <td>h_193</td>
      <td>c_639</td>
      <td>2016-09-11 17:36:25</td>
      <td>2016-10-11</td>
      <td>10:30:00</td>
      <td>2016-10-14</td>
      <td>4</td>
      <td>702000</td>
    </tr>
    <tr>
      <th>2734</th>
      <td>r2735</td>
      <td>h_178</td>
      <td>c_690</td>
      <td>2016-10-11 14:06:11</td>
      <td>2016-10-11</td>
      <td>09:00:00</td>
      <td>2016-10-14</td>
      <td>3</td>
      <td>189000</td>
    </tr>
    <tr>
      <th>3010</th>
      <td>r3011</td>
      <td>h_156</td>
      <td>c_761</td>
      <td>2016-10-09 08:22:07</td>
      <td>2016-10-11</td>
      <td>11:30:00</td>
      <td>2016-10-14</td>
      <td>3</td>
      <td>165600</td>
    </tr>
    <tr>
      <th>3136</th>
      <td>r3137</td>
      <td>h_218</td>
      <td>c_792</td>
      <td>2016-09-20 02:15:43</td>
      <td>2016-10-10</td>
      <td>10:30:00</td>
      <td>2016-10-13</td>
      <td>1</td>
      <td>63000</td>
    </tr>
    <tr>
      <th>3327</th>
      <td>r3328</td>
      <td>h_23</td>
      <td>c_833</td>
      <td>2016-09-28 08:22:57</td>
      <td>2016-10-13</td>
      <td>09:00:00</td>
      <td>2016-10-14</td>
      <td>4</td>
      <td>260400</td>
    </tr>
    <tr>
      <th>3605</th>
      <td>r3606</td>
      <td>h_147</td>
      <td>c_900</td>
      <td>2016-09-28 19:13:15</td>
      <td>2016-10-10</td>
      <td>12:00:00</td>
      <td>2016-10-13</td>
      <td>2</td>
      <td>80400</td>
    </tr>
    <tr>
      <th>3770</th>
      <td>r3771</td>
      <td>h_93</td>
      <td>c_939</td>
      <td>2016-09-27 05:50:26</td>
      <td>2016-10-10</td>
      <td>12:30:00</td>
      <td>2016-10-13</td>
      <td>1</td>
      <td>29400</td>
    </tr>
  </tbody>
</table>
</div>